/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  overscroll-behavior-y: contain;
}

span.jesuswords {
  color: #cc0000; 
}

span.scripturequote {
  color: #333;
  display: inline-block;
  width: 90%;
  border-left: 4px solid #999;
  margin-left: 10%;
  padding-left: 1.5rem;
}

.container.main,
.container-fluid.main {
  padding-bottom: 3rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav .brand-logo {
	font-size: 1.5rem;
}

audio {
	margin: 2rem 0 1rem 0;
}

.fp_pagehead {
	font-size: 1.2rem;
}

.scripture {
  border-top: 1px solid #eee;
}

.scripture > div:nth-child(1) {
  padding: 5px 10px 0 0;
}

div.verseref {
  position: relative;
}

div.verseref > span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 6px 4px 6px;
  margin: inherit inherit inherit 10px;
  font-weight: 600;
  font-size: .8rem;
  background-color: #eee;
  border-radius: 0 0 4px 4px;
}

.scripture_expand {
  margin-top: 2rem;
}

.scripture_expand a {
  font-size: 1.2rem;
  font-style: italic;
  text-transform: capitalize;
}

.scripture_expand i {
  font-size: 1.0rem;
  text-transform: none;
}

.scripture-heading {
  margin-top: 0;
  font-weight: bold;
  font-style: italic;
}