/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav .brand-logo {
	font-size: 1.5rem;
}

audio {
	margin: 2rem 0 1rem 0;
}

.fp_pagehead {
	font-size: 1.2rem;
}
