/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: 'home';
  src: url('../font/home.eot?38832415');
  src: url('../font/home.eot?38832415#iefix') format('embedded-opentype'),
       url('../font/home.woff2?38832415') format('woff2'),
       url('../font/home.woff?38832415') format('woff'),
       url('../font/home.ttf?38832415') format('truetype'),
       url('../font/home.svg?38832415#home') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'home';
    src: url('../font/home.svg?38832415#home') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "home";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; }
.icon-down-circled2:before { content: '\e801'; }
.icon-angle-right:before { content: '\f105'; }
 
 body,
 #scriptureModal,
 .collection .collection-item {
  background-color: #efefef;
 }

.fpmodule {
  margin-top: 2rem;
}

.fpmodule_index .collection a.collection-item,
.fpmodule_dashboard .collection a.collection-item {
  color: black;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fff;
}

strong {
  font-weight: bold;
}

.fp_pagehead {
  font-weight: 700;
}

.fp_pagecontent {
  font-size: 1rem;
}

@media only screen and (max-width: 991px) {
  .fp_pagecontent, .modal-content .scripture {
    font-size: 1.2rem;
  }
}

.fp_pagecontent a {
  text-decoration: underline;
}

a.collection-item {
  text-decoration: none;
}

.fp_pagecontent p:first-child {
  margin-top: 0;
}

body {
  overscroll-behavior-y: contain;
}

ol {
  padding-left: 1rem;
}

ol li {
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}

ol ol {
  padding-left: 1rem;
  list-style-type: upper-alpha;
  margin-top: 1rem;
}

ol ol ol {
  list-style-type: decimal;
  margin-top: 1rem;
}

ol ol ol ol {
  list-style-type: lower-alpha;
  margin-top: 1rem;
}

ol ol li,
ol ol ol li {
  margin-bottom: 1rem;
}

ol.compact li,
ul.compact li {
  margin-bottom: 0;
}

.homeicon {
  margin: 4px 18px;
  float: left;
  position: relative;
  display: inline-block;
  padding: 0;
  width: 60px;
  height: auto;
  margin: 0;
  text-align: center;
  z-index: 100;
}

@media screen and (max-width: 600px) { 
  .homeicon {
    top: 3px;
  }
}

.homeicon .fa-home {
  height: auto;
}

span.jesuswords {
  color: #cc0000; 
}

span.scripturequote {
  color: #666;
  display: block;
  width: 90%;
  border-left: 4px solid #bbb;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.container.main,
.container-fluid.main {
  padding-bottom: 3rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

nav .brand-logo {
  font-size: 1.3rem;
  min-width: 300px;
  overflow: hidden;
}

audio {
  margin: 1rem 0 1rem 0;
  width: 100%;
  max-width: 600px;
}

.fp_pagehead {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.scripture {
  border-top: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 10px;
}

.scripture > div:nth-child(1) {
  padding: 5px 15px 0 0;
}

.scripture_border0 {
  border-top: 0;
}

div.verseref {
  position: relative;
}

div.verseref > span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 6px 4px 6px;
  font-weight: 600;
  font-size: .7rem;
  font-family: verdana, sans-serif;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}


@media only screen and (max-width: 991px) {
  div.verseref > span {
    font-size: .8rem;
  }
}
.scripture-expand {
  font-size: 1.2rem;
  border-top: 1px solid #ddd;
  padding: 2rem 0 0.5rem 0;
}

.scripture-expand .btn {
  font-style: italic;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 8px;
}

.scripture-expand .fa-angle-right {
  float: right;
  margin-left: 15px;
  font-size: 1rem;
}

.scripture-heading {
  margin-top: 0;
  font-weight: bold;
  font-style: italic;
}

blockquote {
  border-left-color: #bbb;
}

.fp_pagehead {
  clear: both;
  width: 100%;
  position: absolute;
}

table.firstColNoWrap td:nth-child(1) {
  white-space: nowrap;
  vertical-align: top;
}

.modal {
  min-width: 300px;
}

.scripture_headline {
  font-size: 21px;
}

ul.showdiscs {
  margin-left: 20px;
}
ul.showdiscs li {
  list-style-type: disc;
  padding-left: 5px;
}

#install-button-container {
  margin-bottom: 50px;
}
